@font-face {
    font-family: 'TiquiTaca-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/TiquiTaca-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#clock {
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'TiquiTaca-Regular';
    margin-top: 100px;
}

#title {
    font-family: 'TiquiTaca-Regular';
    color: white;
    margin-left: 300px;
    font-size: 70px;
    text-align: center;
}

#top_title {
    font-family: 'TiquiTaca-Regular';
    margin-right: 300px;
    color: white;
    font-size: 70px;
    text-align: center;
}

.container{
    text-align: center;
}