.container {
    text-align: center;
}

#clock {
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: "Cafe24ClassicType-Regular";
}

#title {
    color: white;
    font-size: 70px;
    text-align: center;
    font-family: "Cafe24ClassicType-Regular";
}

#top_title {
    margin-right: 300px;
    color: white;
    font-size: 70px;
    text-align: center;
    font-family: "Cafe24ClassicType-Regular";
}